@import "tailwindcss";
@import "./theme.css";

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width:6px;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}